body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
}

ul {
  list-style: none;
}

li {
  height: 2.3em;
}

input[type=radio] {
  margin    : 0;
  padding   : 0;
  outline: none;
}

input[type="radio"]:checked+label {
  background-color: #bbb;
  box-shadow: inset 0 0 4px #000000;
}

input[type="radio"]:checked+label[for="yes"] {
  background-color: #61ff61;
}

input[type="radio"]:checked+label[for="no"] {
  background-color: #ffa7a7;
}

label {
  display: block;
  padding: 6px 10px;
  font-size: 0.8em;
  border: 2px solid #e1e1e1;
  border-radius: 4px;
  box-shadow: 3px 3px 5px 0px #ccc;
  display: inline-block;
  text-align: center;
  transition: box-shadow 1.2s;
}


label:active {
  background-color: #e1e1e1;
  box-shadow: inset 0 0 10px #000000;
}

button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

button:hover {
  opacity: 0.8;
}

button:active {
  background: red;
}

hr {
  margin: 0px 20px 10px;
  border-top: 1px double #eeeded;
  clear: both;
}

.left, .right {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 49%;
}

.panel-content .right {
  text-align: left;
}

#content {
  max-width: 800px;
  margin: 20px auto;
  position: relative;
}

.panel {
  border-radius: 4px;
  border: 1px solid #428BCA;
  margin-bottom: 20px;
}

.panel > div {
  padding: 10px 10px;
}

.panel > .panel-head {
  color: white;
  font-size: 17px;
  background: #428BCA;
}

#message {
  border: none;
  text-align: center;
  font-weight: bold;
  color: #a94442;
  background-color: #f2dede;
  transition: transform 0.2s ease-in;
  padding: 10px 10px;
  margin: 0 0 10px;
  position: relative;
  z-index: 2;
}

#message.disabled {
  transform: scaleY(0);
  position: absolute;
}

#clip {
  width: 100%;
}

#sentence,
#original-excerpt {
  font-size: 1.3em;
  font-style: italic;
  margin: 15px 0 0 20px;
  text-align: center;
}

.answers {
  margin: 0 0 0 15px;
  padding-left: 15px;
  border-radius: 4px;
}

.answers.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.answers.highlight {
  border: 1px solid #d10000;
}

#submit-btn {
  margin: 2px auto;
  display: block;
}

button.active,
#submit-btn.active {
  color: white;
  background: #428BCA;
}

#submit-btn.active:active {
  background: #428BCA;
  box-shadow: inset 0 0 4px #000000;
}

#overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.3;
  transition: opacity 0.2s;
}

#overlay.disabled {
  pointer-events: none;
  opacity: 0;
}

/* main page */
#divlevels {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
}

#levels {
  opacity: 0.2;
  transition: opacity 0.4s ease-in-out;
  width: 100px;
  height: 100px;
}

.recording #levels {
  opacity: 1;
}

#elapsedtime {
  display: inline-block;
  width: 40px;
  text-align: center;
}

#clip,
#player {
  width: 250px;
  border-radius: 15px;
}

#clip.disabled,
#player.disabled {
  opacity: 0.3;
  pointer-events: none;
}

#container {
  line-height: 100px;
  text-align: center;
}

#container > * {
  vertical-align: middle;
}

#container > button {
  width: 80px;
}

#playButton {
  display: none;
}

#recordButton {
}
#recordButton .progress:before,
#recordButton .progress:after,
#recordButton .progress > div:before,
#recordButton .progress > div:after {
    border-radius: .2em;
    background: red;
    box-shadow: 0 3.5em red; /* container height - part height */
    transform-origin: 50% 2.5em; /* container height / 2 */
  }


/* TODO: fix this.

.recordButton::before {
  content: "*";
}

body.recording .recordButton::before {
  animation-name:blink;
  animation-duration:1s;
  animation-iteration-count:infinite;
  animation-timing-function: ease-in-out;
}

@keyframes blink {
  50% { background:#b60404; transform: scale(1.2); }
}
*/

/**
 *  * (C)Leanest CSS spinner ever
 *  originally by @leaverou
 *  http://lea.verou.me/2013/11/cleanest-css-spinner-ever/
 */

@keyframes spin {
  to { transform: rotate(1turn); }
}

.progress {
  position: relative;
  display: inline-block;
  width: 5em;
  height: 5em;
  margin: 0 .5em;
  font-size: 12px;
  text-indent: 999em;
  overflow: hidden;
  animation: spin 1s infinite steps(8);
}

.small.progress {
  font-size: 6px;
}

.large.progress {
  font-size: 24px;
}

.progress:before,
.progress:after,
.progress > div:not(#levels):before,
.progress > div:not(#levels):after {
  content: '';
  position: absolute;
  top: 0;
  left: 2.25em; /* (container width - part width)/2  */
  width: .5em;
  height: 1.5em;
  border-radius: .2em;
  background: #eee;
  box-shadow: 0 3.5em #eee; /* container height - part height */
  transform-origin: 50% 2.5em; /* container height / 2 */
}

.progress:before {
  background: #555;
}

.progress:after {
  transform: rotate(-45deg);
  background: #777;
}

.progress > div:before {
  transform: rotate(-90deg);
  background: #999;
}

.progress > div:after {
  transform: rotate(-135deg);
  background: #bbb;
}
